<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/alert.css' %}">
</head>
<body>
<!-- alert -->
<div id="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Alert!</strong> Stock out of product
</div>
<!-- Profile Info -->
<div class="row">
  <div class="column1">
    <div class="card1">
      <img class="profile__pic" src="https://secure.webtoolhub.com/static/resources/icons/set168/fbf8909f.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2>{{request.user}}</h2>
        <p class="title">Admin</p>
        <p><button class="button">Log Out</button></p>
      </div>
    </div>
  </div>
<!-- Clock -->
  <div class="column2">
    <div class="card1">
      <div class="container">
        <p class="clock__text">Welcome,User</p>
        <div class="clock__container">
            <div id="clock"></div>
        </div>
      </div>
    </div>
      <!-- Options -->
    <div class="card2">
      
            <div class="flex-container">
                <div><p><a href="/stored_product_show">Stored Products</a></p></div>
                <div><p><a href="/purchase_add">Add Products</a></p></div>
                <div><p><a href="/stock_out_show">Stock-out Products</a></p></div>  
            </div>

            <div class="flex-container">
                <div><p><a href="/sale_show">Sale</a></p></div>
                <div><p><a href="/purchase_show">Purchase</a></p></div>
                <div><p><a href="/billing_show">Billing System</a></p></div>
            </div>
    
    </div>
  </div>
</div>

<script src={% static 'js/index.js' %}></script>
<script src={% static 'js/alert.js' %}></script>
</body>
</html>
